.projects {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 5em);
    overflow: hidden;
}


.projects-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.projects-list::-webkit-scrollbar {
    display: none;
}

.projects::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15%; /* Height of the fade effect */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--coconut));
    pointer-events: none; /* Allows scrolling even on the fade area */
    
}

.project-container {
    color: var(--slate);
    /* background-color: var(--coconut); */
    transition: all 0.8s ease;
    padding: 3vh;
    border-radius: 0.5em;
    margin: 0.5vh;
    width: 20vw;
    position: relative;
}

.chevron {
    position: absolute;
    opacity: 0;
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease-out 0.4s;
}

.chevron path {
    fill: var(--coconut)
}

.project-container:hover {
    background-color: var(--slate);
    color: var(--coconut);
    cursor: pointer;
}

.project-container:hover .chevron {
    opacity: 1;
    right: 1em;
}

.project-container.selected {
    background-color: var(--slate);
    color: var(--coconut);
    cursor: pointer;
}

.project-container.selected .chevron {
    opacity: 1;
    right: 1em;
}

.project-title {
    text-align: start;
    font-weight: 500;
}

.project-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 0px;
    
}

.skill {
    padding: 10px;
    border-radius: 20px;
    outline: 1px rgb(115, 115, 115) solid;
    font-size: small;
}

.project-detail {
    width: 0;
    min-height: 100%;
    max-height: max-content;
    transition: all ease-in-out 0.5s;
    border-radius: 0.5em;
    color: var(--slate);
    opacity: 0;
    box-sizing: border-box;
    display: flex;
    text-align: start;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
}

.project-detail.open {
    width: 50vw;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 2em;
    padding: 3vw;
}


.pdisplay-title-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.pdisplay-title {
    font-weight: 700;
}

.pdisplay-short {
    font-size: 0.7em;
}

.pdisplay-description {
    font-size: 0.6em;
    max-width: 90%;
}

.pdisplay-github {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.pdisplay-github a {
    background-color: var(--coconut);
    padding: 0.3em 0.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: max-content;
    border-radius: 0.4em;
}

.closer {
    right: 1em;
    top: 1em;
    position: absolute;
    cursor: pointer;
}

.pdisplay-media {
    width: 100%;
}

.pd-media-view {
    position: relative;
    width: 100%;
    height: 35vh;
}

.pdisplay-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
    height: 35vh;
    transition: all 0.8s ease-in-out;
    padding: 0 5%;
}

.pdisplay-img img {
    object-fit: cover;
    height: 100%;
    width: auto !important;
}

.pdisplay-img iframe {
    height: 100%;
    width: min-content !important;
    z-index: 101;
}

.pdisplay-img.hidden {
    opacity: 0;
    z-index: 0;
}

.pdisplay-img.sub {
    opacity: 0.35;
    z-index: 1;
    height: 30vh;
}

.pdisplay-img.left {
    transform: translateX(-70%) translateY(-50%);
}

.pdisplay-img.right {
    transform: translateX(-30%) translateY(-50%);
}

.arrow-container {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
    z-index: 100;
}

.arrow-container.left {
    left: 0;
}

.arrow-container.right {
    right: 0;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
}

.arrow.move-left {
    left:-0.5em;
}

.arrow.move-right {
    right: -0.5em;
}

